use serde::{Deserialize, Serialize};
use wasm_bindgen::prelude::*;

#[derive(Serialize, Deserialize)]
pub struct Metric {
    pub key: String,
    pub value: f64,
}

#[wasm_bindgen]
pub fn update_metric(payload: JsValue) -> Result<JsValue, JsValue> {
    let metric: Metric = payload.into_serde().map_err(|err| err.to_string())?;
    let response = Metric {
        key: metric.key,
        value: metric.value * 2.0,
    };
    JsValue::from_serde(&response).map_err(|err| err.to_string().into())
}

#[wasm_bindgen]
pub fn ping() -> String {
    format!("{}::pong", "{{ .ServiceName }}")
}
