package monitoring

import (
	"context"

	"go.opentelemetry.io/otel"
	"go.opentelemetry.io/otel/exporters/jaeger"
	"go.opentelemetry.io/otel/propagation"
	"go.opentelemetry.io/otel/sdk/resource"
	"go.opentelemetry.io/otel/sdk/trace"
	semconv "go.opentelemetry.io/otel/semconv/v1.17.0"
	"go.uber.org/zap"
)

type Provider struct {
	TracerProvider *trace.TracerProvider
}

func MustInit(ctx context.Context, logger *zap.Logger) *Provider {
	exporter, err := jaeger.New(jaeger.WithCollectorEndpoint(jaeger.WithEndpoint("{{ .TelemetryEndpoint }}")))
	if err != nil {
		logger.Fatal("otel exporter", zap.Error(err))
	}

	tp := trace.NewTracerProvider(
		trace.WithBatcher(exporter),
		trace.WithResource(resource.NewWithAttributes(
			semconv.SchemaURL,
			semconv.ServiceNameKey.String("{{ .ServiceName }}"),
		)),
	)

	otel.SetTracerProvider(tp)
	otel.SetTextMapPropagator(propagation.TraceContext{})

	return &Provider{TracerProvider: tp}
}

func (p *Provider) Shutdown(ctx context.Context) {
	_ = p.TracerProvider.Shutdown(ctx)
}
